[data-rbd-droppable-context-id="0"] {
  @media (min-width: 1613px) {
    margin-left: 7%;
  }
  @media (max-width: 1612px) {
    margin-left: 3.5%;
  }
}
[data-rbd-droppable-context-id="1"] {
  @media (min-width: 1613px) {
    margin-left: 7%;
  }
  @media (max-width: 1612px) {
    margin-left: 3.5%;
  }
}
[data-rbd-droppable-context-id="2"] {
  @media (min-width: 1613px) {
    margin-left: 7%;
  }
  @media (max-width: 1612px) {
    margin-left: 3.5%;
  }
}
[data-rbd-droppable-context-id="3"] {
  @media (min-width: 1613px) {
    margin-left: 7%;
  }
  @media (max-width: 1612px) {
    margin-left: 3.5%;
  }
}
[data-rbd-droppable-context-id="4"] {
  @media (min-width: 1613px) {
    margin-left: 7%;
  }
  @media (max-width: 1612px) {
    margin-left: 3.5%;
  }
}
[data-rbd-droppable-context-id="5"] {
  @media (min-width: 1613px) {
    margin-left: 7%;
  }
  @media (max-width: 1612px) {
    margin-left: 3.5%;
  }
}
.mobiletesticolumn {
  @media (orientation: landscape) {
    display: none !important;
  }
}

.desktesticolumn {
  @media (orientation: portrait) {
    display: none !important;
  }
}
